body {
    background-color: #05141b; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(5, 20, 27, 0.88), rgba(5, 20, 27, 0.88)), url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: transparent !important;
    border-bottom: 2px solid #5a189a;
}

.game-box {
    background: rgba(5, 20, 27, 0.7); 
    border: 1px solid #5a189a;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    backdrop-filter: blur(6px);
}

.btn-primary {
    background-color: #017f8d !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #5a189a !important;
    color: #ffffff !important;
}

.game-image {
    height: 150px;
    object-fit: cover;
    border: 2px solid #5a189a;
    margin-bottom: 10px;
    border-radius: 8px;
}

.form-control {
    background-color: transparent;
    border: 1px solid #017f8d;
    color: #ffffff;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #5a189a;
    color: #ffffff;
    box-shadow: none;
}